.detbl,.de_caption_tbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
.de_figure
{
margin: 0;padding: 0;width: 100%;text-indent: 0 !important;
}
.de_caption_tbl
{
margin: 0;padding: 0;width: 100%;
}
div.p
{
font-weight:normal;
}

div.p
{
direction: ltr;
text-align: left;
text-indent: 0;
margin-left: 0;
line-height: 1.380;
margin-top: 8pt;
margin-bottom: 8pt;
}
div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
div.h1
{
direction: ltr;
text-align: left;
text-indent: 0;
margin-left: 0;
line-height: 1.380;
margin-top: 0pt;
margin-bottom: 16pt;
}
h1
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:bold;
display:inline;
margin:0;
padding:0;
}
div.h2
{
direction: ltr;
text-align: left;
text-indent: 0;
margin-left: 0;
line-height: 1.380;
margin-top: 20pt;
margin-bottom: 8pt;
}
h2
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:bold;
display:inline;
margin:0;
padding:0;
}
div.h3
{
direction: ltr;
text-align: left;
text-indent: 0;
margin-left: 0;
line-height: 1.380;
margin-top: 16pt;
margin-bottom: 8pt;
}
h3
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:bold;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Courier New";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Georgia";
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
span.New_code
{
font-family:"Courier New";
font-size: 13pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.New_quote
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 11pt;color:#3f3f3f;
font-style:normal;
text-decoration:none;
font-weight:normal;
}

@font-face
{
font-family:"Font Awesome 6 Free";
font-style:normal;
font-weight:900;
font-display:block;
src:url("webfonts/fa-solid-900.woff2") format("woff2"), url("webfonts/fa-solid-900.ttf") format("truetype");
}

table.de-text-block
{
border-collapse:separate;
border-spacing:0px;
}

table.de-text-block > tbody > tr > td.de-tb-icon
{
vertical-align:top;
}

table.de-text-block > tbody > tr > td.de-tb-spoiler
{
vertical-align:top;
}

table.de-text-block > tbody > tr > td.de-tb-text
{
vertical-align:top;
width:100%;
}

table.de-text-block > tbody > tr > td.de-tb-icon > span.de-text-block-icon, table.de-text-block > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
display:inline-block;
font-family:"Font Awesome 6 Free";
font-weight:900;
-moz-osx-font-smoothing:grayscale;
-webkit-font-smoothing:antialiased;
font-style:normal;
font-variant:normal;
line-height:1;
text-rendering:auto;
width:1.25em;
text-align:center;
}

table.de-text-block > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
display:none;
}

table.de-text-block-info
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#d9edf7;border-left-style:solid;border-left-width:1px;border-left-color:#bce8f1;border-top-style:solid;border-top-width:1px;border-top-color:#bce8f1;border-right-style:solid;border-right-width:1px;border-right-color:#bce8f1;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#bce8f1;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-info > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-info > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#317096;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-info > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-info > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-info > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-note
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#fafafa;border-left-style:solid;border-left-width:1px;border-left-color:#e6e6e6;border-top-style:solid;border-top-width:1px;border-top-color:#e6e6e6;border-right-style:solid;border-right-width:1px;border-right-color:#e6e6e6;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#e6e6e6;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-note > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-note > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#999999;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-note > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-note > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-note > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-success
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#dff0d8;border-left-style:solid;border-left-width:1px;border-left-color:#d6e9c6;border-top-style:solid;border-top-width:1px;border-top-color:#d6e9c6;border-right-style:solid;border-right-width:1px;border-right-color:#d6e9c6;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#d6e9c6;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-success > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-success > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#3c763d;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-success > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-success > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-success > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-warning
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#fcf8e3;border-left-style:solid;border-left-width:1px;border-left-color:#faebcc;border-top-style:solid;border-top-width:1px;border-top-color:#faebcc;border-right-style:solid;border-right-width:1px;border-right-color:#faebcc;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#faebcc;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#f0ad4e;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-error
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#f2dede;border-left-style:solid;border-left-width:1px;border-left-color:#ebccd1;border-top-style:solid;border-top-width:1px;border-top-color:#ebccd1;border-right-style:solid;border-right-width:1px;border-right-color:#ebccd1;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#ebccd1;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-error > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-error > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#d9534f;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-error > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-error > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-error > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-quote
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#f2f2f2;border-left-style:solid;border-left-width:3px;border-left-color:#c8c8c8;border-top-style:none;border-top-width:1px;border-top-color:#000000;border-right-style:none;border-right-width:1px;border-right-color:#000000;border-bottom-style:none;border-bottom-width:1px;border-bottom-color:#000000;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:none;font-size:24px;color:#000000;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-spoiler
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:transparent;border-left-style:solid;border-left-width:1px;border-left-color:#e6e6e6;border-top-style:solid;border-top-width:1px;border-top-color:#e6e6e6;border-right-style:solid;border-right-width:1px;border-right-color:#e6e6e6;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#e6e6e6;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:none;font-size:24px;color:#000000;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}
div.de_026A006CB7
{
text-align:left;}
div.de_03FDC443AD
{
text-align:left;text-indent:0;margin-left:0;}
div.de_0C9FABBDB4
{
text-align:justify;text-indent:0;line-height:1.800;margin-top:0pt;margin-bottom:0pt;}
div.de_18FF44BC87
{
text-align:center;text-indent:0;line-height:1.800;margin-top:0pt;margin-bottom:0pt;}
div.de_1CF807F200
{
direction:ltr;text-align:left;text-indent:0;margin-left:0;line-height:1.800;}
div.de_2765CAD4AA
{
text-indent:0;margin-top:0pt;margin-bottom:0pt;}
div.de_38B3956165
{
text-align:center;}
div.de_6AF6DD6F29
{
text-align:justify;}
div.de_A7E3E52F7B
{
line-height:1.800;}
div.de_AC1BC24F7A
{
text-align:justify;line-height:1.800;}
div.de_BE417251E8
{
text-align:center;text-indent:0;margin-left:50px;line-height:1.800;margin-top:0pt;margin-bottom:0pt;}
div.de_BFDE95EB13
{
text-align:justify;line-height:1.800;margin-top:0pt;margin-bottom:0pt;}
div.de_D098A46DB3
{
text-align:center;text-indent:0;margin-left:0;line-height:1.800;margin-top:0pt;margin-bottom:0pt;}
div.de_D180F57957
{
text-align:justify;text-indent:0;margin-left:50px;line-height:1.800;margin-top:0pt;margin-bottom:0pt;}
div.de_D323212480
{
text-align:left;line-height:1.800;}
div.de_D8A905EC7A
{
margin-top:0pt;margin-bottom:0pt;}
img.de_78924636B9
{
margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0;}
img.de_F0AFF5680A
{
margin-top: 0; margin-right: 8px; margin-bottom: 8px; margin-left: 8px;}
span.de_1B2D3F6EF2
{
	font-family: "Times New Roman";
	font-size: 14pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_488B32347D
{
	font-family: "Symbol";
	font-size: 14pt;
	color:#000000;
}
span.de_96029C4A16
{
	font-family: "Times New Roman";
	font-size: 18pt;
}
span.de_C624D5AA4E
{
	font-family: "Times New Roman";
	font-size: 14pt;
	color:#000000;
	text-decoration:underline;
}
span.de_CAB14B116D
{
	font-family: "Times New Roman";
	font-size: 14pt;
	color:#000000;
}
.list-element {
	list-style-type: none;
}
.list-counter-e24d03bd-d2d4-45f3-8b42-ee1772f707fe-0 > div > * {
	text-indent: 0px;}
.list-counter-e24d03bd-d2d4-45f3-8b42-ee1772f707fe-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-e24d03bd-d2d4-45f3-8b42-ee1772f707fe-0, decimal) '.\00a0';
	counter-increment: list-counter-e24d03bd-d2d4-45f3-8b42-ee1772f707fe-0;
}
.list-counter-e24d03bd-d2d4-45f3-8b42-ee1772f707fe-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-e24d03bd-d2d4-45f3-8b42-ee1772f707fe-1 > div > * {
	text-indent: 0px;}
.list-counter-e24d03bd-d2d4-45f3-8b42-ee1772f707fe-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-e24d03bd-d2d4-45f3-8b42-ee1772f707fe-1, decimal) '.\00a0';
	counter-increment: list-counter-e24d03bd-d2d4-45f3-8b42-ee1772f707fe-1;
}
.list-counter-e24d03bd-d2d4-45f3-8b42-ee1772f707fe-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-cd0d6034-a3d4-4605-93ea-213cdb3245c0-0 > div > * {
	text-indent: 0px;}
.list-counter-cd0d6034-a3d4-4605-93ea-213cdb3245c0-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-cd0d6034-a3d4-4605-93ea-213cdb3245c0-0, decimal) '.\00a0';
	counter-increment: list-counter-cd0d6034-a3d4-4605-93ea-213cdb3245c0-0;
}
.list-counter-cd0d6034-a3d4-4605-93ea-213cdb3245c0-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2e0c4e54-4f0d-4ab1-9ff3-fcd392c37769-0 > div > * {
	text-indent: 0px;}
.list-counter-2e0c4e54-4f0d-4ab1-9ff3-fcd392c37769-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2e0c4e54-4f0d-4ab1-9ff3-fcd392c37769-0, decimal) '.\00a0';
	counter-increment: list-counter-2e0c4e54-4f0d-4ab1-9ff3-fcd392c37769-0;
}
.list-counter-2e0c4e54-4f0d-4ab1-9ff3-fcd392c37769-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-379d2cc8-1c5e-44c9-80a3-b951663b3dbb-0 > div > * {
	text-indent: 0px;}
.list-counter-379d2cc8-1c5e-44c9-80a3-b951663b3dbb-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-379d2cc8-1c5e-44c9-80a3-b951663b3dbb-0, decimal) '.\00a0';
	counter-increment: list-counter-379d2cc8-1c5e-44c9-80a3-b951663b3dbb-0;
}
.list-counter-379d2cc8-1c5e-44c9-80a3-b951663b3dbb-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-b3e753d5-ae64-4335-aff4-642db7c8c8b1-0 > div > * {
	text-indent: 0px;}
.list-counter-b3e753d5-ae64-4335-aff4-642db7c8c8b1-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-b3e753d5-ae64-4335-aff4-642db7c8c8b1-0, decimal) '.\00a0';
	counter-increment: list-counter-b3e753d5-ae64-4335-aff4-642db7c8c8b1-0;
}
.list-counter-b3e753d5-ae64-4335-aff4-642db7c8c8b1-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-c4278027-9e6d-4eb6-80e5-17b83e5aea23-0 > div > * {
	text-indent: 0px;}
.list-counter-c4278027-9e6d-4eb6-80e5-17b83e5aea23-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-c4278027-9e6d-4eb6-80e5-17b83e5aea23-0, decimal) '.\00a0';
	counter-increment: list-counter-c4278027-9e6d-4eb6-80e5-17b83e5aea23-0;
}
.list-counter-c4278027-9e6d-4eb6-80e5-17b83e5aea23-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-5c4e44a2-37b0-46d8-a983-96624ae9f80c-0 > div > * {
	text-indent: 0px;}
.list-counter-5c4e44a2-37b0-46d8-a983-96624ae9f80c-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-5c4e44a2-37b0-46d8-a983-96624ae9f80c-0, decimal) '.\00a0';
	counter-increment: list-counter-5c4e44a2-37b0-46d8-a983-96624ae9f80c-0;
}
.list-counter-5c4e44a2-37b0-46d8-a983-96624ae9f80c-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-5c4e44a2-37b0-46d8-a983-96624ae9f80c-1 > div > * {
	text-indent: 0px;}
.list-counter-5c4e44a2-37b0-46d8-a983-96624ae9f80c-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-5c4e44a2-37b0-46d8-a983-96624ae9f80c-1, decimal) '.\00a0';
	counter-increment: list-counter-5c4e44a2-37b0-46d8-a983-96624ae9f80c-1;
}
.list-counter-5c4e44a2-37b0-46d8-a983-96624ae9f80c-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-3b268f28-eddf-43df-9c72-2cc9f51bb229-0 > div > * {
	text-indent: 0px;}
.list-counter-3b268f28-eddf-43df-9c72-2cc9f51bb229-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-3b268f28-eddf-43df-9c72-2cc9f51bb229-0, decimal) '.\00a0';
	counter-increment: list-counter-3b268f28-eddf-43df-9c72-2cc9f51bb229-0;
}
.list-counter-3b268f28-eddf-43df-9c72-2cc9f51bb229-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-3b268f28-eddf-43df-9c72-2cc9f51bb229-1 > div > * {
	text-indent: 0px;}
.list-counter-3b268f28-eddf-43df-9c72-2cc9f51bb229-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-3b268f28-eddf-43df-9c72-2cc9f51bb229-1, decimal) '.\00a0';
	counter-increment: list-counter-3b268f28-eddf-43df-9c72-2cc9f51bb229-1;
}
.list-counter-3b268f28-eddf-43df-9c72-2cc9f51bb229-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-bcd36382-f3df-45ca-9a0b-d77185538f5e-0 > div > * {
	text-indent: 0px;}
.list-counter-bcd36382-f3df-45ca-9a0b-d77185538f5e-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-bcd36382-f3df-45ca-9a0b-d77185538f5e-0, decimal) '.\00a0';
	counter-increment: list-counter-bcd36382-f3df-45ca-9a0b-d77185538f5e-0;
}
.list-counter-bcd36382-f3df-45ca-9a0b-d77185538f5e-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-30bf17cc-c9d9-45e7-8a85-166cf46d72ae-0 > div > * {
	text-indent: 0px;}
.list-counter-30bf17cc-c9d9-45e7-8a85-166cf46d72ae-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-30bf17cc-c9d9-45e7-8a85-166cf46d72ae-0, decimal) '.\00a0';
	counter-increment: list-counter-30bf17cc-c9d9-45e7-8a85-166cf46d72ae-0;
}
.list-counter-30bf17cc-c9d9-45e7-8a85-166cf46d72ae-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
